* {
  padding: 0;
}

body {
  background-color: #000000;
  background-size: 100%;
  margin: 0;
  text-decoration: none;
}

header {
  background-color: white;
  width: 100%;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

.name-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-shrink: 1;
  width: 100%;
}

.letter {
  height: 4rem;
}

.letter:hover {
  transform: rotate(180deg);
  animation-name: revertAnimation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes revertAnimation {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* straight across menu */
.menu {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-weight: 300;
  letter-spacing: 0.1em;
  background-color: #fde9ff;
  width: 100vw;
  height: 7vh;
  justify-content: center;
  line-height: 7vh;
}

#menu:hover {
  animation-name: divcolor;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: alternate;
}
.menu-icons {
  width: auto;
  height: 4vh;
  vertical-align: middle;
  display: inline-block;
}

/* menu animation code */

@keyframes divcolor {
  0% {
    background-color: #fde9ff;
  }
  25% {
    background-color: #7600ff;
  }
  50% {
    background-color: #49fce3;
  }
  75% {
    background-color: #fcf202;
  }
  100% {
    background-color: #ff0000;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* ----links-----*/

a {
  color: inherit;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: inherit;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: coral;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #ff0000;
  text-decoration: none;
}

.lk-icon-desktop {
  background-color: #fde9ff;
  padding: 5px;
  text-align: center;
  width: 8vw;
  margin-left: 2rem;
  margin-top: 1rem;
  border-radius: 25px;
  height: 5vh;
  line-height: 5vh;
  position: fixed;
  top: 0;
  display: none;
}

.lk-desktop-only {
  display: none;
}

.statement {
  background-color: #7600ff;
  color: azure;
  font-family: "Chakra Petch", sans-serif;
  font-size: 13px;
  width: 65vw;
  border-radius: 30px;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 1.5rem;
  border-radius: 20px;
  position: fixed;
  bottom: 40px;
  left: 1rem;
  align-items: center;
}

.statement-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

/* .statement-flex > div {
  margin-right: 2%;
} */

.learn-more {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 12vw;
  border: solid white 1px;
  border-radius: 30px;
  line-height: 5vh;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 0.1em;
  padding-left: 5%;
  padding-right: 5%;
}

.learn-more:hover {
  animation-name: divcolor;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: alternate;
  color: #000000;
}

.lm-arrow {
  padding-left: 15%;
}

/* ----contact circles-----*/

.circle-2 {
  background-color: #49fce3;
  border-radius: 50%;
  width: 10%;
  line-height: 0;

  /* circle 2 position */
  position: fixed;
  bottom: 50px;
  right: 30px;

  /* circle 2 animation */
  animation-name: circle-translate-2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: alternate;
}

.circle-2::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.circle-3 {
  background-color: #fff200;
  opacity: 0.7;
  border-radius: 50%;
  width: 10%;
  line-height: 0;

  /* circle 3 position */
  position: fixed;
  bottom: 80px;
  right: 60px;

  /*circle animation 3 */
  animation-name: circle-translate-1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: alternate;
}

.circle-3::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.circle-1 {
  color: #000000;
  background-color: #ff0000;
  text-align: center;
  border-radius: 50%;
  width: 10%;
  line-height: 0;

  /* circle 1 position */
  position: fixed;
  bottom: 50px;
  right: 80px;
  z-index: 1;
}

/* CSS trick to make perfect responsive circle */
.circle-1::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.circle-text {
  color: #000000;
  background-color: #ff0000;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 1.5vw;
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  letter-spacing: 0.1em;
}

@keyframes circle-translate-1 {
  from {
    transform: translate(0rem, 0rem);
  }
  to {
    transform: translate(2rem, 2rem);
  }
}

@keyframes circle-translate-2 {
  from {
    transform: translate(0vw, 0vw);
  }
  to {
    transform: translate(-2rem, -2rem);
  }
}

/* -------Mobile View---------*/

@media all and (max-width: 600px) {
  .lk-desktop-only {
    display: none;
  }

  .menu {
    display: none;
  }

  .dropbtn {
    background-color: #fde9ff;
    color: rgb(0, 0, 0);
    width: 100vw;
    border: none;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    color: #000000;
    font-weight: 300;
    letter-spacing: 0.1em;
    margin: 0;
  }

  .closed-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #menu-icon {
    width: 5vh;
    padding: 12px;
  }

  .lk-icon {
    display: none;
  }

  .menu-button,
  .close-btn {
    background-color: #fde9ff;
    color: rgb(0, 0, 0);
    border: none;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }

  .menu-container {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    position: sticky;
    top: 0;
    margin: 0;
  }

  .dropdown {
    position: sticky;
    top: 0;
    margin: 0;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fde9ff;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin: 0;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Inter", sans-serif;
    color: #000000;
    font-weight: 300;
    letter-spacing: 0.1em;
    margin: 0;
  }

  .dropdown-content a:hover {
    background-color: #fde9ff;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #fde9ff;
  }

  .name-flex {
    display: none;
  }

  .no-animate-head {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .statement {
    border-radius: 10px;
    font-size: small;
    width: 40vw;
    padding-top: 0;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .statement-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
  }

  .statement-flex > div {
    margin-bottom: 2%;
  }

  .learn-more {
    width: 30vw;
    height: 4.5vh;
    line-height: 4.5vh;
    text-align: center;
    font-weight: 300;
    font-size: 2.8vw;
    letter-spacing: 0.1em;
    padding-left: 5%;
    padding-right: 2%;
  }

  .arrow {
    width: 16px;
    padding-left: 15%;
  }

  /* ----contact circles-----*/

  .circle-2 {
    width: 20%;
    line-height: 0;

    /* circle 2 position */
    position: fixed;
    bottom: 40px;
    right: 20px;
  }

  .circle-3 {
    background-color: #fff200;
    opacity: 0.7;
    border-radius: 50%;
    width: 20%;
    line-height: 0;

    /* circle 3 position */
    position: fixed;
    bottom: 70px;
    right: 50px;
  }

  .circle-3::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .circle-1 {
    border-radius: 50%;
    width: 20%;
    line-height: 0;

    /* circle 1 position */
    position: fixed;
    bottom: 40px;
    right: 50px;
    z-index: 1;
  }

  .circle-text {
    font-size: 3vw;
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    letter-spacing: 0.1em;
  }
}

/* -------Large Mobile/Small Tablet View---------*/

@media all and (min-width: 601px) and (max-width: 820px) {
  .menu {
    display: none;
  }

  .lk-desktop-only {
    display: none;
  }

  .dropbtn {
    background-color: #fde9ff;
    color: rgb(0, 0, 0);
    width: 100vw;
    border: none;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    color: #000000;
    font-weight: 300;
    letter-spacing: 0.1em;
    margin: 0;
  }

  .closed-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .lk-icon {
    display: none;
  }

  #menu-icon {
    width: 5vh;
    padding: 12px;
  }

  .menu-button,
  .close-btn {
    background-color: #fde9ff;
    color: rgb(0, 0, 0);
    border: none;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }

  .menu-container {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    position: sticky;
    top: 0;
    margin: 0;
  }

  .dropdown {
    position: sticky;
    top: 0;
    margin: 0;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fde9ff;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin: 0;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Inter", sans-serif;
    color: #000000;
    font-weight: 300;
    letter-spacing: 0.1em;
    margin: 0;
  }

  .dropdown-content a:hover {
    background-color: #fde9ff;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #fde9ff;
  }

  .name-flex {
    display: none;
  }

  .no-animate-head {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .statement {
    font-size: small;
    width: 50vw;
  }

  .statement-flex {
    flex-direction: column;
    align-items: start;
  }

  .statement-flex > div {
    margin-right: 4%;
  }

  .learn-more {
    width: 20vw;
    height: 4vh;
    line-height: 4vh;
  }

  .arrow {
    width: 12px;
    padding-left: 2%;
  }

  /* ----contact circles-----*/

  .circle-2 {
    width: 15%;
  }

  .circle-3 {
    width: 15%;
  }

  .circle-1 {
    width: 15%;
    /* circle 1 position */
    position: fixed;
    bottom: 40px;
    right: 60px;
  }

  .circle-text {
    font-size: 2.5vw;
  }
}

/* -------Large Tablet View---------*/

@media all and (min-width: 821px) and (max-width: 1100px) {
  .dropdown {
    display: none;
  }

  .no-animate-head {
    display: none;
  }

  statement {
    width: 58vw;
    border-radius: 30px;
    height: auto;
    margin-left: 1.5rem;
    border-radius: 20px;
    padding-bottom: 3%;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 3%;
    position: fixed;
    bottom: 40px;
    left: 1rem;
  }

  .arrow-edit {
    padding-top: 1px;
  }

  .arrow {
    width: 16px;
    padding-left: 1%;
  }

  .learn-more {
    width: 18vw;
  }
}

/* -------Desktop View---------*/

@media all and (min-width: 1101px) {
  .dropdown {
    display: none;
  }

  .no-animate-head {
    display: none;
  }
}

/* -------Landscape View---------*/

@media all and (min-width: 800px) and (max-height: 600px) {
  .menu {
    height: 12vh;
    line-height: 12vh;
  }

  .statement {
    display: none;
  }

  .statement-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .statement-flex > div {
    margin-right: 5%;
  }

  .learn-more {
    display: none;
  }
}

/* -------Small Landscape View---------*/

@media all and (min-width: 400px) and (max-height: 500px) {
  .statement {
    display: none;
  }

  #menu-icon {
    width: 10vh;
    padding: 12px;
  }
}
